.upper_logo{
    display: flex;
color: #AACC00 !important;
}

.upper_logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
    border-radius: 50px;
}
.logo_pic img {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
    border-radius: 50px;
}
.logo_align{
    margin-top: 5px;
    margin: 5px;
}
nav ul li a{
    color: #AACC00 !important;
}
nav ul li a:hover{
        color: #fff !important;
}
nav ul li:hover{
    background-color:#AACC00;
    
}

ul .side_logo_pic{
    width:60%;
    border-radius: 100%;
    height:80%;
}
.brand-logo{
    height:160px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.sidenav li:hover{
    background-color:#AACC00;
    
}
.sidenav li a:hover{
    color: #fff;
}
.sidenav li{
    border-bottom:1px #000 !important;
    border-top:1px #000 !important;
}
.sidenav li a{
    text-align: center;
    color:#AACC00;
    font-size: 1.2rem;
    
}
@media screen and (max-width:600px){
    .brand-logo.upper_logo{
        font-size:2rem !important;
    }
}
@media screen and (max-width:550px){
    .brand-logo.upper_logo{
        font-size:1.5rem !important;
    }
}
